# FOLDERS
bin
#bin/**/*
#!bin/create_markdown.sh
logs
project/project
project/target
target
.target
tmp
.history
dist
# FILES
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.gitignore~
/.cache

