body {
	background: black;
	/* set min width */
	min-width: 285px;
	width: auto !important;
    width:285px;
}

/* Navigation Bar */

div#navbar {
	position: fixed;
	top: 0px;
	height: 50px;
	min-height: 50px;
	margin-bottom: 0px;
	background: black url("../images/navbar-bg.png") repeat-x top;
	border-bottom: solid grey 1px;
}

div#navbar-container {
/* 	position: fixed; */
/* 	display: inline-table; */
	border-bottom: solid grey 1px;
	padding-left: 0px;
	padding-right: 0;
	background: black url("../images/navbar-bg.png") repeat-x top;
}

a#navbar-brand {
	margin-right: 20px;
	
	font-family: 'Courier New', monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19px;
	color: white;
}

div#navbar-collapse {
	margin-left: auto;
	border: 0;
}

div#navbar-collapse.navbar-collapse.in {
	padding-left: 0px;
	padding-right: 0;
}

ul#navbar-collapse-menu.nav.navbar-nav {
	clear: both;
	position: relative;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 8px;
}

li.active.navitem {
	margin-top: 2px;
	background-color: rgb(75, 75, 75);
}

ul.navbar-nav>li.active.navitem>a, ul.navbar-nav>li.active.navitem>a:HOVER {
	border: 1px solid white;
	background: white;
	color: black;
}

li#me-navitem>a:HOVER {
	/* TODO: show tooltipps */
}

li.navitem {
	margin: 0px 5px 0px 5px;
	border: none;
}

li.navitem>a {
	border: 1px solid black;
	padding: 8px 15px 4px 15px;
	background: black url("../images/navitem-bg.png") repeat-x top;
	font-weight: normal;
}

li.navitem>a>img {
	margin-right: 10px;
}




div.item-container-downer-shadow {
	height:10px;
	width: 100%;	
	background: transparent url("../images/item-container-downer-shadow.png") repeat-x top;
}

div.navbar-downer-shadow {
	margin: 0;
}

div#downer-shadow {
	margin-top: 50px;
	width: 100%;
/* 	height: 160px; */
	background: transparent url("../images/downer-shadow.png") repeat-x left top;
}

/* Content (incl. Banner) */

div.content.container {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0px 10px 10px 10px;
	
	background-color: transparent;
	background-image: url("../images/left-vertical-shadow.png"), url("../images/right-vertical-shadow.png");
	background-position: left top, right top;
	background-repeat: repeat-y;

	text-align: left;
}

div.content.container > div.row {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

div#banner {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 170px;
	padding-top: 0px;
	padding-bottom: 10px;
	
	background-color: black;
	background-image: url("../images/banner-blacked.png");
	background-repeat: no-repeat;
	background-position: left top;
}

div#message {
	background-color: black;
}

/* Footer */

div#footer {
	position: fixed;absolute;
	bottom: 0px;
	
	width: 100%;
	height: 50px;
	padding: 15px 0px;
	
	background: black url("../images/navbar-bg.png") repeat-x top;
}

div#footer>div.container>p {
	margin: 0px;
	color: white;
}

/* Index */

div.item-container {
	margin-bottom: 10px;
	background: black url("../images/navbar-bg.png") repeat-x top;
}

div.col-item-key {
	padding-right: 0px;
}

div.col-item-value {
	padding-left: 0px;
}

div.item-key, div.item-value {
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	padding: 10px;	
	background: white;
}

div.item-meta-values {
	margin: 10px;
	margin-bottom: 0px;
	background: transparent;
	color: white;
}
