body {
	background: black;
	/* set min width */
	min-width: 285px;
	width: auto !important;
	width: 285px;
}

/* Headings */
h1,h2,h3,h4,h5,h6,h7 {
	color: #332300;
	font-family: 'Droid Serif', serif;
}

h1 {
	font-size: 1.5em;
	margin-top: 10px;
}

h1>p {
	line-height: 12pt;
}

div.h1-glyphicon {
	padding-right: 0;
}

h1>span.glyphicon {
	font-size: 1.5em;
	/* 	margin-right: 15px; */
	padding-right: 35px;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

/* Navigation Bar */
div#navbar {
	position: fixed;
	top: 0px;
	height: 50px;
	min-height: 50px;
	margin-bottom: 0px;
	background: black url("../images/navbar-bg.png") repeat-x top;
	border-bottom: solid grey 1px;
}

div#navbar-container {
	/* 	position: fixed; */
	/* 	display: inline-table; */
	border-bottom: solid grey 1px;
	padding-left: 0px;
	padding-right: 0;
	background: black url("../images/navbar-bg.png") repeat-x top;
}

a#navbar-brand {
	margin-right: 20px;
/* 	margin-left: 25px; */
	padding: 0px inherit 0px inherit;
	vertical-align: middle; 
	font-size: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19px;
	color: white;
	font-family : 'Verdana', 'Courier New', monospace;
}

a#navbar-brand>img {
	vertical-align: middle;
	font-size: 33pt;
	font-weight: bold;
	margin: 0px 10px 0px 40px;
}

/* a#navbar-brand>span.glyphicon.glyphicon-user { */
/* 	/* 	padding: 2px 3px 2px 3px; */ */
/* 	vertical-align: middle; */
/* 	font-size: 33pt; */
/* 	font-weight: bold; */
/* 	margin: 0px 20px 0px 50px; */
/* } */

div#navbar-collapse {
	margin-left: auto;
	border: 0;
}

div#navbar-collapse.navbar-collapse.in {
	padding-left: 0px;
	padding-right: 0;
}

ul#navbar-collapse-menu.nav.navbar-nav {
	clear: both;
	position: relative;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 0px;
}

li.active.navitem {
	margin-top: 2px;
	background-color: transparent; /* rgb(75, 75, 75); */
}

li.navitem {
	margin: 2px 5px 0px 5px;
	border: none;
}

/* ### anchor ### */
li.active.navitem>a.navanchor,li.active.navitem>a.navanchor:HOVER {
	margin-top: 3px;
	background-color: transparent;
	/* 	color : white; */
	font-style: oblique;
}

li.active.navitem>a.navanchor:HOVER {
	/* 	color: #e1e1e1; */
	
}

li.navitem>a.navanchor {
	background-color: transparent;
	margin-top: 3px;
	height: 42px;
	padding: 0px 0px;
	/* 	color: white; */
	font: normal sans-serif 16px;
	text-align: left;
}

/* li.navitem>a.navanchor { */
/* /* 	border: 1px solid black; */
* /
	/* 	padding: 8px 15px 4px 15px; */
	/* 	background-color: #4b4b4b; */
	/* 	border-color: lightgrey; */
	/* 	font-weight: normal; */
	/* } */ 

li.navitem>a.navanchor {
	background-color: transparent;
}

class ="navanchor"

li.navitem>a.navanchor:HOVER {
	/* 	background: url("../images/navitem-bg.png") repeat-x top; */
	
}

li.active.navitem>a.navanchor:HOVER {
	background-color: transparent;
}

/* ######## thumbnails in navigation ############ */
.img-thumbnail {
	background-color: transparent;
}

li.active.navitem>a>span.img-thumbnail {
	background-color: white;
}

li.navitem>a>span.img-thumbnail,li.active.navitem>a>span.img-thumbnail {
	width: 35px;
	max-width: none;
	height: 35px;
	padding: 3px;
}

/* li.active.navitem>a.navanchor>div>div>*/
li.active.navitem>a:HOVER>span.img-thumbnail {
	background-color: #4b4b4b;
	/* 	background: url("../images/active-navitem-bg.png") top repeat-x;	 */
	border-color: lightgrey;
}

/* li.navitem>a.navanchor:HOVER>div>div> */
li.navitem>a:HOVER>span.img-thumbnail {
	background-color: white;
	border-color: lightgrey;
}

li.active.navitem>a:HOVER>span.img-thumbnail {
	background-color: #4b4b4b;
	border-color: lightgrey;
}

/* ### glyphicon span ### */
li.navitem>a.navanchor>span>span.glyphicon,li.active.navitem>a.navanchor>span>span.glyphicon
	{
	padding: 2px 3px 2px 3px;
	vertical-align: top;
	font-size: 16pt;
	font-weight: bold;
}

li.navitem>a.navanchor>span>span.glyphicon,li.navitem>a.navanchor:VISITED>span>span.glyphicon
	{
	color: white;
}

li.navitem>a.navanchor:HOVER>span>span.glyphicon {
	color: #4b4b4b;
}

li.active.navitem>a.navanchor:VISITED>span>span.glyphicon {
	color: #4b4b4b;
}

li.active.navitem>a.navanchor:HOVER>span>span.glyphicon {
	color: white;
}

/* ### nav text span ### */

/* li.navitem>a.navanchor>span.nav-text { */
/* 	padding: 6px 0px; */
/* 	vertical-align: middle; */
/* } */

/* item-container-downer-shadow */
div.item-container-downer-shadow {
	height: 10px;
	width: 100%;
	background: transparent
		url("../images/item-container-downer-shadow.png") repeat-x top;
}

div.navbar-downer-shadow {
	margin: 0;
}

div#downer-shadow {
	margin-top: 50px;
	width: 100%;
	/* 	height: 160px; */
	background: transparent url("../images/downer-shadow.png") repeat-x left
		top;
}

/* Content (incl. Banner) */
div.content.container {
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px 10px 10px 10px;
	background-color: #332300;
	background-image: url("../images/right-vertical-shadow.png"),
		url("../images/left-vertical-shadow.png");
	background-position: left top, right top;
	background-repeat: repeat-y;
	text-align: left;
}

div.content.container>div.row {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 0px;
	padding-right: 0px;
}

div#banner {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 160px;
	border: solid darkgrey 1px;
	border-top-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: black;
	background-image: url("../images/banner-blacked.png");
	background-repeat: no-repeat;
	background-position: left top;
	
	 
}

div#message {
/* 	margin-left: 10px; */
/* 	margin-right: -10px; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #332300;
	background-image: url("../images/right-vertical-shadow.png"),
		url("../images/left-vertical-shadow.png");
	background-position: left top, right top;
	background-repeat: repeat-y;
}

div#message>div {
	background-color: white;
	border-radius: 5px;
	border: solid darkgrey 2px;
	padding: 10px;
}

/* Footer */
div#footer {
	position: fixed; absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	border-top: solid grey 1px;
	padding: 5px 0px;
	background: black none repeat-x top;
}

div#footer>div.container>p {
	margin: 0px 10px;
	color: white;
}

/* Index */
div.item-container {
	margin-bottom: 10px;
	border: solid grey 1px;
	border-radius: 5px;
	background: black url("../images/navbar-bg.png") repeat-x top;
}

div.item-key,div.item-value {
	margin: 5px 0px 10px 10px;
	min-height: 100px;
	border-radius: 5px;
	border: solid darkgrey 1px;
	padding: 5px;
	background: white;
}

div.item-value.thumbnail {
	margin-right: 0px;
}

div.col-item-key {
	padding-right: 0px;
}

div.col-item-value {
	padding-left: 0px;
}

div.item-meta-values {
	margin: 5px 5px 5px 10px;
	margin-bottom: 0px;
	background: transparent;
	color: white;
}