@(message: String)

@main(0, "Me @ skills.devel.org") {
	
	<pre>@message</pre>
	
	<div class="item-container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<div class="item-key">
					<a href="#"><img src="@routes.Assets.at("images/favicon.png")" /></a>
				</div>
			</div>
			<div class="col-sm-8 col-md-8">				
				<div class="item-meta-values">
					stefan # 09:15 PM / 12-12-13 
				</div>
				<div class="item-value">
					Transform Markdown here ...
				</div>
			</div>
		</div>
	</div>
	
}
